:root{
    --main-color: #F7632C;
}
body{
    font-family: "Roboto", sans-serif;
}

 /* Start Navbar  */

.navbar{
    background-color: #252525;
}

.navbar .nav-item{
    font-size: 1.2em;
    cursor: pointer;
}

.navbar .nav-item.active,
.navbar .nav-item:hover{
    color: var(--main-color);
}

.navbar .navbar-toggler{
    color: #fff;
    border-color: #fff;
}

 /* End Navbar  */

 /* Start Landing Section  */

.landing{
    height: calc(100vh - 74px);
    background-image: url("../images/banner-bg.png");
    background-size: cover;
}

.landing .carousel-item button{
    border-radius: 0;
    background-color: var(--main-color);
}

.landing .carousel-control-prev{
    left: auto;
    transform: translateX(-100px);
}

.landing .carousel-control-next{
    right: auto;
}

.landing .carousel-control-prev ,
.landing .carousel-control-next{
    background-color: var(--main-color);
    opacity: 1;
    width: 40px;
    font-size: 3em;
    background-color: transparent;
} 

 /* End Landing Section  */


 /* Start About Us Section */

    .about-us h1,
    .our-gallery h1,
    .our-services h1,
    .our-services h3,
    .testimonial h1,
    .contact-us h1{
        color: var(--main-color);
    }

    .about-us p{
        line-height: 1.7em
    }

    .about-us button,
    .our-gallery button,
    .our-services button{
        border-radius: 0;
        font-size: 1.2em;
    }

    .about-us button:hover,
    .our-gallery button:hover,
    .our-services button:hover{
        background-color: var(--main-color);
    }

 /* End About Us Section */

/* Start Our Gallery Section */

.our-gallery .overlay{
    width: calc(100% - 24px);
    background-color: transparent !important;
    transition: all ease .5s !important;
    cursor: pointer;
}
.our-gallery svg{
    color: #fff;
    display: none;
    cursor: pointer;
}
.our-gallery .my-card:hover .overlay{
    background-color: #252525 !important;
}
.our-gallery .my-card:hover .overlay,
.our-gallery .my-card:hover svg{
    display: block !important;
    transition: all ease .3s !important;
}
.our-gallery svg:hover{
    color: var(--main-color) !important;
}


/* End Our Gallery Section */

/* Start Our Services Section */

.our-services{
    min-height: 800px;
}
.our-services .bg-img{
    background-image: url("../images/services-bg.png");
    background-position: center left;
    min-height: 300px;
}

.our-services img{
    width: 80px;
    height: 80px !important;
    top: -40px;
    right: 50%;
    transform: translateX(50%);
}

.our-services .service{
    padding-top: 5rem !important;
}

.our-services .bg-img .row{
    top: 80%;
}

.our-services .service-btn{
    display: none;
}

.our-services .service:hover .service-btn{
    display: block;
}

/* End Our Services Section */

/* Start Testimonial Section */
.carousel-indicators [data-bs-target] {
    background-color: #252525;
    opacity: 1;
    height: 15px;
    width: 60px;
}

.carousel-indicators .active{
    background-color: var(--main-color);
}

.client-section h3{
    margin-left: 60px;
    color: var(--main-color);
}

.client-section::after,
.client-section::before{
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 100%;
}
.client-section::after{
    top: 15px;
    left: 0;
    bottom: 0;
    border-left: solid 3px #252525;
    border-top: solid 3px #252525;
}

.client-section::before{
    right: 0;
    top: 0;
    border-right: solid 3px #252525;
    border-bottom: solid 3px #252525;
}
/* End Testimonial Section */

/* Start Contact US Section */
.form-bg{
    background-image: url('../images/img-9.png');
    background-size: cover;
}
/* End Contact US Section */

/* Start Footer */
.footer a:hover{
    color: var(--main-color) !important;
    opacity: 1 !important;
    transition: .3s;
}
/* End Footer */

#progress {
position: fixed;
bottom: 20px;
right: 10px;
height: 70px;
width: 70px;
display: none;
place-items: center;
border-radius: 50%;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
cursor: pointer;
}
#progress-value {
display: block;
height: calc(100% - 15px);
width: calc(100% - 15px);
background-color: #ffffff;
border-radius: 50%;
display: grid;
place-items: center;
font-size: 35px;
color: #001a2e;
}

@media (max-width:576px){
    .our-services{
        height: 175vh;
    }
    iframe{
        min-height: 50vh;
    }
}